/* src/App.css o tu archivo CSS principal */
.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #1e5ede;
    z-index: 1000;
    border-radius: 10px;
}

.navbar-logo {
    height: 50px;
}

.navbar-logo-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.navbar-buttons {
    display: flex;
    flex: 2;
    justify-content: center;
}

.navbar-button {
    margin: 0 10px;
}

.navbar-cart-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.navbar-cart {
    margin-left: 20px;
}

.bi {
    font-size: 24px; /* Ajusta el tamaño según tus necesidades */
    color: white; /* Cambia el color si es necesario */
}
